* {
    font-family: 'Work Sans', sans-serif;
}

.section-description {
    color: #727272;
    font-weight: 400;
}

.section-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: var(--dark-01, #131313);
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    margin-top: 34px;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}

main {
    max-width: 1440px;
    margin: 100px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    padding: 0 73px;
}

.teams-title {
    font-size: 45px;
}

.first {
    color: #727272;
    font-weight: 500;
}

.second {
    color: #131313;
    font-weight: 700;
}

.third {
    color: #FF900E;
    font-weight: 700;
}

.features {
    display: flex;
    gap: 146px;
    margin-top: 100px;
}

.features-contant h1 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.features-contant .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-img img{
    height: 100%;
    margin-left: 100px;
}
.tan-year {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position:relative;
    bottom: 100px;

}
.tan-year h2{
    font-size: 65px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.tan-year p{
    font-size: 25px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.facts-card-conteiner {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 40px;
}

.facts-card-conteiner .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 40px;
}

.card-stats {
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.sponsors {
    text-align: center;
}

.sponsors-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 100px;
}

.sponsors-img img {
    width: 160px;
}


@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .features,
    .facts-card-conteiner {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-img {
        grid-template-columns: 1fr;
    }
    .features-img img{
        width: 100%;
        margin: 0px;
    }
    .tan-year{
        position:static;
        max-width: 300px
    }
    .facts .section-title{
        margin-top: 200px;
    }

    .sponsors-img {
        gap: 10px;
    }

    .sponsors-img img {
        width: 70px;
    }

}

@media screen and (min-width:577px) and (max-width:992px) {
    header {
        padding: 20px;
    }

    .teams-container{
        flex-direction: column-reverse;
    }

    .facts-card-conteiner, .features {
        flex-direction: column;
    }

    .sponsors-img {
        gap: 50px;
    }

    .sponsors-img img {
        width: 100px;
    }

}